<!DOCTYPE html>
<html class="" lang="{{ .Site.LanguageCode }}">

  <head>

    <meta charset="utf-8" />
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ partial "head-includes.html" . }}
  </head>

  <body lang="{{ .Site.LanguageCode }}" class="w-2/5 mx-auto py-10">
    <section id="main">
      <div>
        <h1 id="title" class="font-bold mb-5">
          {{ .Site.Title }}
        <a id="updtbtn" href="https://kb.local.meyn.fr/#" class="bluebtn" onclick="Kbupdate();" style="font-size: 12pt;float: right;">Update</a>&nbsp;
        <a href="https://kb.local.meyn.fr/#" class="bluebtn" onclick="displayModal();" style="font-size: 12pt;float: right;">New</a>
{{ partial "search-form.html" . }}
        <span class="fa fa-search"></span>
    </button>

</h1>
        <ul class="">
          <!-- pages -->
          
          <!-- prettier-ignore -->
          <!-- display menu in config.toml -->
          {{ range .Site.Params.menu }}
          <li class="my-2">
            <a class="link" href="{{ .url }}">{{ .name }}</a>
          </li>
          <!-- prettier-ignore -->
          {{ end }}

          <li class="my-2">
            {{ range first 1 ( site.RegularPages.ByDate.Reverse )}}
            <a class="link" href="{{.Permalink}}">Most recent note by date</a>
            {{end}}
          </li>

          <li class="my-2">
            {{ range first 1 (sort site.RegularPages "Lastmod" "desc")}}
            <a class="link" href="{{.Permalink}}">Last modified note</a>
            {{end}}
          </li>

        </ul>
      </div>
      <!--Add page for special link or other-->
      {{ partial "kast.md" . | markdownify  }}
      {{ "/all/reference/2022-02-03-17-23-reference-note-.md"| readFile | after 177 | markdownify  }}
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
